.home-banner {
  position: relative;
  height: 90vh;
  width: 100%;
  overflow: hidden;
  background-color: #000;
}

.fade-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1.2s ease-in-out;
  z-index: 0;
  pointer-events: none;
}

.fade-slide.active {
  opacity: 1;
  z-index: 2;
  pointer-events: auto;
}

.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 0;
}

.fade-slide::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #010a13, rgba(1, 10, 19, 0.7));
  z-index: 1;
}

.home-banner-content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 100px;
  align-items: left;
  color: white;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-slide.active .home-banner-content {
  opacity: 1;
}

.home-banner-content h1 {
  font-size: 3.5rem;
  font-weight: 600;
  -webkit-text-stroke: 1px white;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.home-banner-content h2 {
  font-size: 3.5rem;
  font-weight: 700;
  background: linear-gradient(0deg, #15f5ba, #06f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 15px 0;
}

.home-banner-content p {
  font-size: 1.12rem;
  margin-bottom: 30px;
  color: #e0e0e0;
}

.home-banner-content a {
  text-decoration: none;
  background: linear-gradient(90deg, #15f5ba, #06f);
  color: white;
  padding: 12px 25px;
  border-radius: 30px;
  font-weight: 600;
  transition: background 0.3s ease;
  width: 180px;
}

.home-banner-content a:hover {
  background: linear-gradient(90deg, #06f, #15f5ba);
}


/* Responsive Styles */
@media (max-width: 1024px) {
  .home-banner {
    max-height: 50vh; /* Adjust height for tablets */
  }
  

  .home-banner-content {
    padding: 0 50px;
    align-items: center;
  }

  .home-banner-content h1 {
    font-size: 2.5rem;
  }

  .home-banner-content h2 {
    font-size: 2.2rem;
  }

  .home-banner-content p {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .home-banner {
    min-height: 50vh; /* Smaller height for mobile */
    height: auto; /* Adjust based on content */
  }

  .home-banner-content {
    padding: 0 20px;
    text-align: center;
  }

  .home-banner-content h1,
  .home-banner-content h2 {
    font-size: 2rem;
  }

  .home-banner-content p {
    font-size: 1rem;
  }
}



@media (max-width: 480px) {
  .grid-abtNew {
      grid-template-columns: 1fr;
  }
  .grid-abtNew{
    display: block;
  }
  .image-box-abtNew img{
    margin-bottom: 10px;
  }
  .intro-box-abtNew{
    margin-bottom: 10px;
  }
}


/* Adding transition delay for grid items */
.about-abtNew .image-box-abtNew:nth-child(odd) {
animation-delay: 0.5s; /* Delay for odd elements */
}

.about-abtNew .image-box-abtNew:nth-child(even) {
animation-delay: 0.7s; /* Delay for even elements */
}