@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  /* font-family: "Karla", sans-serif; */
 
}
.stroke-text {
  -webkit-text-stroke: 1px white;
  color: transparent;
}
html {
  scroll-behavior: smooth;
}
