@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  /* font-family: "Karla", sans-serif; */
 
}
.stroke-text {
  -webkit-text-stroke: 1px white;
  color: transparent;
}
html {
  scroll-behavior: smooth;
}
.highlight {
  background: linear-gradient(90deg, #15f5b9d0, #002affc4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}